<!DOCTYPE html>
<html>
    <head>
        <title>Fall Guys Emporium</title>
        <link rel="stylesheet" href="./styles/main.css" type="text/css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
        <script src="./scripts/main.js"></script>
    </head>
    <body>
        <%- include(`partials/header`); %>
        <main class="main" id="main1">
            <h1 class="animate__animated animate__bounceInDown">HELLO</h1>
        </main>


    </body>
    
</html>